@tailwind base;
@tailwind components;
@tailwind utilities;

#projects .bg-cover .bg-gray-900 {
    display: none;
    opacity: 0;
}

#projects .bg-cover:hover .bg-gray-900 {
    display: flex;
    animation: fade-in 0.3s ease forwards; /* Utilisez une animation pour un effet plus fluide */
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
